*.pyc
/backend/flyMe/.env
/backend/flyMe/_pycache_/
/backend/flyMe/accounts/migrations/
/backend/flyMe/countries/migrations/
/backend/flyMe/flights/migrations/
/backend/flyMe/flyMe/migrations/
/backend/flyMe/accounts/_pycache_/
/backend/flyMe/countries/_pycache_/
/backend/flyMe/flights/_pycache_/
/backend/flyMe/flyMe/_pycache_/