<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="profile container p-5 my-5 shadow-lg rounded-3 bg-white">
    <div class="row align-items-center">
      <img
        src=""
        class="col-6"
        width="300"
      />
      <div class="col-6 pb-5">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} 
          <label for="email">Email:</label>
          <input type="" id="email" name="email" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          
          <div class="d-flex justify-content-evenly align-items-center mt-4">
            <button
            type="submit"
            class="btn btn-outline-success"
          >
            Login
          </button>
          <a
            href=""
            class="text-decoration-none text-success"
            >Forgot Password?</a
          >
          </div>
          <hr class="text-success"/>
        </form>
        <div class="text-center">
          <a
            href="{% url 'account.create' %}"
            class="text-decoration-none text-success"
            >Create Now Account!</a
          >
          
        </div>
        <hr class="text-success"/>
  
      </div>
    </div>
  </div>


</body>
</html>
