.booking {
  background-image: url('./../../Assets//Images/Landing8.jpg');
  background-size: cover;
}
.bookingPage {
    width: 100%;
    padding: 3.125rem 7.5rem;

    .Container{
      font-style: normal;
      color: black;
      border-radius: 15px;
      /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .Note{
      font-size: 12px;
      color: rgb(95, 95, 95);
      font-weight: 300;  
    }
    

    .loginContainer{
      font-size: 16px;
      font-weight: 500;
      padding: 1.3rem 2.7rem;


        .custom-btn {
            color: #8db3da;
            border-color: #8db3da;
            font-weight: 700;
          }
          
        .custom-btn:hover {
            background-color: #8db3da;
            color: #fff;
          }
    }

    /* light grey #f5f1f7 */
    .stepHeader{
      padding: 1.3rem 2.7rem;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      font-size: 16px;
      font-weight: 500;
      background-color: #dcdee8;
        .stepHeaderCounter{
          width: 2rem;
          height: 2rem;
          background-color: #ffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
    .Body{
      padding: 1.3rem 2.7rem;

      .custom-btn {
        color: white;
        background-color: #426a9d;
        font-weight: 700;
        padding: 0.6rem;
      }
      .custom-outline-btn {
        color: #8db3da;
        border-color: #8db3da;
        font-weight: 700;
      }
      
      .custom-btn:hover {
          background-color: #365986;
          color: #fff; 
      }
      
      .custom-outline-btn:hover {
          background-color: #8db3da;
          color: #fff;
      }
      
      .form-label{
        font-size: 14px;
      }
      .credit-card{
        height: 1.8rem;
        width: 3rem;
      }
    }

    .SideBar{
      padding: 1.3rem 2.7rem;
      font-size: 16px;
      font-weight: 700;

      .data{
        font-size: 12px;
        color: rgb(0, 0, 0);
        font-weight: 500;  
      }
    }



  }