.sidebar {
  min-height: 100vh;
  background-color: var(--main-color);
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.sidebar hr {
  margin: 0 1rem 1rem;
}