:root {
  --main-color: #426a9d;
  --secondary-color: #8db3da;
}

body {
  font-family: 'JetBrains Mono', monospace !important;
}

.language .nav-link {
  padding: 0;
  color: #212529;
}

::selection {
  background: var(--main-color);
  color: white;
}

::-moz-selection {
  background: var(--main-color);
  color: white;
}