:root {
  --main-color: #426a9d;
  --secondary-color: #8db3da;
  --alternative-white-color: #f6f6f6; 
  --gray-color: #dfdfdf;
  --text-color: #767676;
}

body {
  font-family: 'JetBrains Mono', monospace !important;
}

.language .nav-link {
  padding: 0;
  color: #212529;
}

::selection {
  background: var(--main-color);
  color: white;
}

::-moz-selection {
  background: var(--main-color);
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);  
}

.input[type = "checkbox"]:checked {
  background-color: var(--main-color) !important; 
}

.input[type = "radio"]:checked {
  background-color: var(--main-color) !important; 
}