.custom-btn {
  color: white;
  background-color: #426a9d;
  font-weight: 700;
  padding: 0.6rem;
}

.custom-btn:hover {
  background-color: #365986;
  color: #fff;
}

.register {
  height: 500px;
}

.register .form {
  height: 400px;
  overflow: auto;
}